body {
    //margin: 0 10px;
}
.admin-main {
    lost-column: 5/6 0 0px;
    float:right;
}
.orangeBg {
    background-color: $orangetrans;
}
.redBg {
    background-color: $redtrans;
}
.oliveBg {
    background-color: $olivetrans;
}
.navyBg {
    background-color: $navytrans;
}
.info-box {
    span {
        $info-box__size=90px;
        height: $info-box__size;
        width: $info-box__size;
        line-height: $info-box__size;
        float: left;
        font-size: 2em;
        color: white;
        margin: -15px;
    }
}